<!DOCTYPE html>
<html>
<head>
    <title>Flask</title>
    <link rel="stylesheet" href="static/w3.css">
</head>
<body class="w3-container">
    <p>Список продуктов</p>
    <form method="POST">
        <input class="w3-input" type="text" name="user_input" placeholder="Ввести сюда">
        <input class="w3-input" type="submit" value="ТЫК!!!">
    </form>
    <p class="w3-blue">Список:</p>
    <ul>
        {% for item in my_list %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
</body>
</html>